body {
	margin: 0 10px;
	width: 100%;
}

.tabs {
	width: 100%;
	font-size: 24px;
}

.tab {
	background: #999999;
	text-align: center;
	float: left;
	width: 19%;
	border: solid;
}

.tab a {
	color: white;
}

div {
	height: 720px;
	border: solid;
	width: 97%;
}