.boxed {
	border: solid;
}

.boxed a {
	color: black;
}

.font-24 {
	font-size: 24px;
}

.height-80vh {
	padding: 12px 12px;
	margin: 12px 0;
	height: 80vh;
}

.width-100p {
	width: 100%;
}

.graph{
	background-color: #6699cc;
	text-align: right;
	margin: 1px;
	color: white;
}

#googleMap {
	float: right;
	width: 40%;
	padding-top: 40%;
}